[package]
name = "day-1"
version = "0.1.0"
authors.workspace = true
license.workspace = true
repository.workspace = true
edition.workspace = true

[dependencies]
anyhow = "1.0.100"
common = { path = "../../../../common" }
